
@{
    ViewBag.Title = "Delete";
}

<h2> Are you sure to Delete  ?</h2>

<form action="/Student/Delete" method="post">
    <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Enter Name" />
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="text" name="Department" value="@Model.Department" class="form-control" placeholder="Enter Name" />
    <input type="text" name="Age" value="@Model.Age" class="form-control" placeholder="Enter Name" />
    <input type="text" name="CGPA" value="@Model.CGPA" class="form-control" placeholder="Enter Name" />
    <input  type="submit" class="btn btn-danger" value="Delete" />
</form>
